# LangChain Core
langchain
langchain-core

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
arxiv
google-genai
google-adk==1.22.1
reportlab
fpdf2
pymupdf
langchain-groq
langchain-huggingface
